# Dependencies
/node_modules
/typings

# Build code
/index.js
/index.js.map
/index.d.ts
/src/**/*.js
/src/**/*.js.map
/src/**/*.d.ts
/style.css
/src/styles/**/*.css

# Demo build code
/demo/*.js
!/demo/systemjs.config.js

# Logs
*.log

# Development
*.todo
*.old
*.temp
*.tmp
