# Dependencies
/node_modules

# TypeScript source code
/index.ts
/src/**/*.ts
!/src/**/*.d.ts

# Build: Tests
/src/**/*.spec.js

# Demo
/demo

# Build: Temp folder
/temp

# Not needed files
/tools
/.gitignore
/.nvmrc
/.sass-lint.yml
/.travis.yml
/browserlist
/gulpfile.js
/karma.config.js
/karma-angular.config.js
/tsconfig.json
/tsconfig-aot.json
/tslint.json

# GitHub templates
/.github

# Logs
*.log

# Other
*.todo
*.old
*.temp
*.tmp
