# Dependencies
/node_modules

# Build
/build

# Source code (unnecessary parts, at least)
/src/lib/**/*.spec.ts
/src/demo

# Test coverage
/coverage

# Demo & docs
/docs

# Not needed files
/tools
/.gitignore
/.nvmrc
/.sass-lint.yml
/.travis.yml
/browserlist
/gulpfile.js
/tsconfig.json
/tslint.json

# GitHub templates
/.github

# Logs
*.log

# Other
*.todo
*.old
*.temp
*.tmp
