// THEME: MATERIAL

.x-notifier__notification--material {
    padding: 11px 26px 10px;
    border-radius: 3px;
    background-color: #444; // TEMP
    color: #FFF; // TEMP
    box-shadow: 0 1px 3px rgba(0, 0, 0, .2);
    cursor: default;
}
