/**
 * General
 */

html {
	width: 100%;
	height: 100%;
}

body {
	width: 100%;
	height: 100%;
	margin: 0;
	box-sizing: border-box;
	font-family: "Roboto", "Tahoma", "Trebuchet MS", "Arial", "Helvetica", sans-serif;
	font-size: 14px;
}

* {
	box-sizing: inherit;
}



